#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: black;
    width: 100px;
    height: 100px;
    background-color: lightblue;
}